services:

  backend:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: task-board-backend
    ports:
      - "5000:5000"
    env_file:
      - ./server/.env
    restart: unless-stopped
    volumes:
      - ./server:/app
      - /app/node_modules

  frontend:
    build:
      context: ./client
      dockerfile: Dockerfile
    container_name: task-board-frontend
    ports:
      - "5173:5173"
    env_file:
      - ./client/.env.development
    depends_on:
      - backend
    restart: unless-stopped
    volumes:
      - ./client:/app
      - /app/node_modules
